.card {
  display: flex;
  flex-direction: column;
  margin: 4px;
  margin-bottom: 24px;
  padding: 0;
  min-width: 50px;
  max-width: 15%;
  text-decoration: none;
  color: black;
  &:hover {
    cursor: pointer;
  }
}

.thumbnail {
  width: 100%;
  height: auto;
}

.metadata {
  padding-right: 10px;
  text-align: left;
  color: #606060;
  h1, h2, h3, h4, h5 {
    color: black;
    margin: 8px 0px;
  }
  .author {
    &:hover {
      color: black;
    }
  }
}