.navbar {
  position: fixed;
  z-index: 200;
  top: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: 100%;
  color: #ea3456;
  img {
    width: 30px;
    margin: 0 15px;
  }
}

.button {
  font-size: 16px;
  padding: 4px 12px;
  outline: none;
  border: 2px solid grey;
  color: #333333;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
}
